<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <span class="round alert label"><li><%= msg %></li></span>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Name:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :name %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Description:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :description %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Price:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :price %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Total in Shelf:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.number_field :total_in_shelf %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Total in Vault:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.number_field :total_in_vault %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><strong>Store:</strong></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.collection_select :store_id, Store.order(:name),:id,:name, include_blank: true %>
      </div>
    </div>
  </div>
  <div class="actions">
  <br>
    <input type="submit" class="button success" value="Submit">
    <a href="/articles" class="button alert">Cancel</a>
  </div>
<% end %>
